				<tr valign='top' height='5' bgcolor='@@title_color@@'>
					<td width='25%'><b>Group:</b> @@group@@</td>
					<td width='20%'><b>Message:</b> @@number@@</td>
					<td width='30%'><b>From:</b> @@from@@</td>
					<td><b>Date:</b> @@date@@</td>
				</tr>
				<tr valign='top' height='5' bgcolor='@@title_color@@'>
					<td colspan='4'><b>Subject:</b> @@subject@@</td>
				</tr>
				<tr valign='top' height='1'>
					<td colspan='4'></td>
				</tr>

