		<tr>
			<td valign='top'>
				<table width='680' align='right'>
				<tr>
					<td valign='top'>
@@header1@@
					</td>
					<td valign='top'>
@@header2@@
					</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign='top'>
				<table width='680' align='right'>
				<tr>
					<td valign='top'>
@@part1@@
					</td>
					<td valign='top'>
@@part2@@
					</td>
				</tr>
				<tr>
					<td align='left' colspan='2'><br></td>
				</tr>
				</table>
			</td>
		</tr>

