						<table width='340'>
							<tr>
								<td width='50%' align='left' valign='top' bgcolor='#eeeeee'><b>Group:</b><br>
									@@group_name@@</td>
								<td width='50%' align='left' valign='top' bgcolor='#eeeeee'><b>Range:</b><br>
									@@range@@</td>
							</tr>
						</table>

