				<table width='100%' cellspacing='1' border='0' style='font-family:Tahoma, Verdana, Arial; font-size:11pt'>
					<tr valign='top' height='5' bgcolor='@@title_color@@'>
						<td width='25%'><b>Group:</b> @@group@@</td>
						<td width='20%'><b>Message:</b> @@number@@</td>
						<td width='30%'><b>From:</b> @@from@@</td>
						<td width='25%'><b>Date:</b> @@date@@</td>
					</tr>
					<tr valign='top' height='5' bgcolor='@@title_color@@'>
						<td colspan='4'><b>Subject:</b> @@subject@@</td>
					</tr>
				</table>
				<table width='100%' cellspacing='1' border='0' style='font-family:Tahoma, Verdana, Arial; font-size:11pt'>
					<tr>
						<td width='80%' valign='top'>
							<table width='100%'>
								<tr><td>
@@message@@
								</td></tr>
							</table>
						</td>
						<td width='1' valign='top' bgcolor='#FFDAB9'>
							<font style='font-size:1'>&nbsp;</font>
						</td>
						<td width='20%' valign='top'>
							<table width='100%' cellspacing='3'>
@@attachment@@
							</table>
						</td>
					</tr>
				</table>

