		<tr>
			<td>
				<table width='680' align='right'>
					<tr>
						<td width='50%' align='left' bgcolor='#eeeeee'><b>Group:</b> @@group_name@@</td>
						<td width='50%' align='right' bgcolor='#eeeeee'><b>Range:</b> @@range@@</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table width='680' align='right'>
					<tr>
						<td width='170'><b><u>From</u></b></td><td width='200'><b><u>First Post</u></b></td><td width='200'><b><u>Last Post</u></b></td><td width='55'><b><u>Posts</u></b></td><td width='55' align='right'><b><u>%</u></b></td>
					</tr>
@@rows@@
					<tr>
						<td align='left' colspan='5'><br></td>
					</tr>
				</table>
			</td>
		</tr>

