					<tr>
						<td valign='top'>@@from@@</td><td valign='top'>@@first_Post@@</td><td valign='top'>@@last_post@@</td><td valign='top'>@@posts@@</td><td align='right' valign='top'>@@percents@@</td>
					</tr>

