						<table width='340'>
						<tr>
							<td width='40'><b><u>#</u></b></td><td width='250'><b><u>Subject</u></b></td><td width='50'><b><u>Replies</u></b></td>
						</tr>
@@rows@@
						</table>

