						<table width='340'>
						<tr>
							<td width='340'>Total number of replies is @@total_number@@</td>
						</tr>
						<tr>
							<td width='340'>Average number of replies per post is @@average_number@@</td>
						</tr>
						</table>

