						<table width='340'>
						<tr>
							<td width='340'>New members this period @@new_members_number@@</td>
						</tr>
						<tr>
							<td width='340'>Percentage change @@percentage_change@@ %</td>
						</tr>
						<tr>
							<td width='340'>@@warning@@</td>
						</tr>
						</table>

