						<table width='340'>
						<tr>
							<td width='100%' colspan='2' align='left' valign='top'>Percentage of members lurking @@percent_lurkers@@ %<br><br></td>
						</tr>
						<tr>
							<td width='170'><b><u>Yahoo ID</u></b></td><td width='170'><b><u>Date Joined</u></b></td>
						</tr>
@@rows@@
						</table>

